/*
Theme Name: Twenty Twenty One Child
Theme URL: http://localhost:8000
Description: Twenty Twenty One Child
Theme Author: Unknown Yana
Author URL: http://localhost:8000
Template: twentytwentyone
Version: 1.0.0
Text Domain: twentytwentyone-child
*/

body {
    background-color: #ccc7e0;
}
.transfer-dropdown {
    background-color: white;
    border: solid;
    padding-inline: 10px;
}

.transfer-btn {
    background-color: white;
    padding-inline: 30px;
    padding-block: 15px;
    border: solid;
    font-weight: bold;
}

.tablediv {
    width: 80%;
    margin: auto;
}

table {
    background-color: white;
    border: solid;
    text-align: center;
    width: 100%;
}

.offer-form {
    text-align: center;
    background-color: #9591a58c;
}

.forum-list {
    max-width: 70%;
    background-color: #dbd5f4;
    list-style-position: inside;
    padding-block: 30px;
}

.forum-list-item {
    color: #515164;
    padding: 15px;
}

.topic-list {
    max-width: 70%;
    background-color: #dbd5f4;
    list-style-position: inside;
    padding: 0;
}

.topic-list-item {
    color: #515164;
    list-style: none;
}

.add-topic {
    background-color: #515164;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
}

.topic-list-div {
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #515164;
    padding: 15px;
}

.topic-list-post-div {
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    max-width: 75%;
}

.topic-list-author-div {
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    max-width: 25%;
}

.topic-posts-pagination {
    display: flex;
    justify-content: center;
}

.topic-posts-pagination input.active {
    background-color: #4e4b59;
    color: white;
}